*.suo
*.dll
web.config
app.config
Crowd.Model/obj/
Crowd.Service/obj/
Crowd.Service/Properties
Crowd.Service/Uploads
Crowd.Service/ConfidentialData.cs
Admin
Admin.*
packages
Crowd.Service/obj
Crowd.Model/obj